.canvas-container {
    width: 80%;
    height: 80vw;
    max-width: 700px;
    max-height: 700px;
}

.meme-text {
    position: absolute;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}
