* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url('../img/bgcollage.jpg');
}

header {
    height: 130px;
    background-color: #30303070;
}

.main-title {
    color: aliceblue;
}

section.main {
    background-color: rgba(122, 62, 62, 0.26);
    padding-bottom: 20px; 
}

.top-bar {
    position: relative;
    background-color: rgb(122, 62, 62);
    margin-bottom: 20px;
    padding: 10px 20px;
}

.top-bar h2 {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}

.gallery .top-bar button {
    width: 48px;
}

.img-gallery {
    max-width: 100%;
    height: 85vw;
    grid-template: repeat(4, 18vw) / repeat(8, 1fr);
    margin: 3.6vw 3.6vw 0;
    gap: 2vw;
}

@media (min-width: 1092px) {
        .img-gallery {
        gap: 20px;
        width: 1012px;
        grid-template-rows: repeat(4, 196px);
        height: 928px;
        margin: 40px auto;
    }
}

@media (min-width: 1200px) {
    .img-gallery{
        grid-template: repeat(4, 12vw) / repeat(10, 1fr);
    }
}

.shadow {
    /* margin: 0 0 20px 20px; */
    grid-column: span 2;
    position: relative;
    clip-path: polygon(50% 0, 0 25%, 0 75%, 50% 100%, 100% 75%, 100% 25%);
    width: 100%;
    height: 135%;
    transform: translate(-1px, -1px);
    background-color: black;
}

.gallery-item {
    position: absolute;
    clip-path: polygon(50% 0, 0 25%, 0 75%, 50% 100%, 100% 75%, 100% 25%);
    background-position: center;
    background-size: cover;
    width: 98%;
    height: 98%;
    cursor: pointer;
    transform: translate(1px, 1px);
}

@media (max-width: 1200px) {
    .img-gallery>:nth-child(7n + 5) {
        grid-column: 2 / 4;
    }
}

@media (min-width: 1200px) {
    .img-gallery>:nth-child(9n + 6) {
        grid-column: 2 / 4;
    }
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.modal>* {
    height: 100%;
    z-index: 2;
}

.modal {
    background-color: brown;
    position: absolute;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.hide {
    display: none;
}

.polygon {
    background-color: brown;
}

.canvas-container {
    width: 90%;
    /* height: 80vw; */
    max-width: 500px;
    max-height: 700px;
    margin: 0 auto;
}

.meme-text {
    position: absolute;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}

.search-bar {
    white-space: nowrap;
    width: 200px;
    transition: .3s;
    overflow: hidden;
}

.search-bar.hidden {
    width: 50px;
}

.btn {
    font-size: 130%;
    border: none;
    background-color: rgb(78, 34, 34);
    border-radius: 5px;
    color: rgb(255, 222, 212);
    height: 48px;
    padding: 0 10px;
    cursor: pointer;
}

a.download {
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(255, 222, 212);
}
